@use './Typography.scss' as *;

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:$primary-color;
  height: 100vh;
  font-family:$primary-font ;
  color:$tertiary-color;
}

img{
  max-width: 100%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color:$tertiary-color;
}

p{
  color:$quaternary-color;
}

button{
  border-style: none;
  border: 1px solid $secondary-color;
  background-color: transparent;
  color:$tertiary-color;
  font-weight: bold;
  padding: 13px 35px;
  cursor: pointer;
}

.container{
  width: 80%;
  margin: 0 auto;
}