
@use './Typography.scss' as *;

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:$primary-color;
  height: 100vh;
  font-family:$primary-font ;
  color:$tertiary-color;
}

img{
  max-width: 100%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color:$tertiary-color;
}

.debug{
  background-color: pink;
  border: 1px solid black;
}

.container{
  width: 80%;
  border: 1px solid red;
  margin: 0 auto;
}